lugus/src/main/resources/application-prod.properties
/lugus/docs
lugus/lugus-bootstrap/.settings/org.eclipse.wst.validation.prefs
lugus/lugus-bootstrap/.settings/org.eclipse.wst.jsdt.ui.superType.name
lugus/lugus-bootstrap/.settings/org.eclipse.wst.jsdt.ui.superType.container
lugus/lugus-bootstrap/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/lugus-bootstrap/.settings/org.eclipse.wst.common.component
lugus/lugus-bootstrap/.settings/org.eclipse.m2e.core.prefs
lugus/lugus-bootstrap/.settings/org.eclipse.jdt.core.prefs
lugus/lugus-bootstrap/.settings/org.eclipse.core.resources.prefs
lugus/lugus-bootstrap/.settings/.jsdtscope
lugus/lugus-bootstrap/.project
lugus/lugus-bootstrap/.classpath
lugus/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/.settings/org.eclipse.wst.common.component
lugus/.classpath
lugus/lugus-domain/.classpath
lugus/lugus-domain/.project
lugus/lugus-domain/.settings/org.eclipse.core.resources.prefs
lugus/lugus-domain/.settings/org.eclipse.jdt.core.prefs
lugus/lugus-domain/.settings/org.eclipse.m2e.core.prefs
lugus/lugus-domain/.settings/org.eclipse.wst.common.component
lugus/lugus-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/lugus-domain/.settings/org.eclipse.wst.validation.prefs
lugus/lugus-infrastructure/.classpath
lugus/lugus-infrastructure/.project
lugus/lugus-infrastructure/.settings/org.eclipse.core.resources.prefs
lugus/lugus-infrastructure/.settings/org.eclipse.jdt.core.prefs
lugus/lugus-infrastructure/.settings/org.eclipse.m2e.core.prefs
lugus/lugus-infrastructure/.settings/org.eclipse.wst.common.component
lugus/lugus-infrastructure/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/lugus-infrastructure/.settings/org.eclipse.wst.validation.prefs
lugus/lugus-repository/.classpath
lugus/lugus-repository/.project
lugus/lugus-repository/.settings/org.eclipse.core.resources.prefs
lugus/lugus-repository/.settings/org.eclipse.jdt.core.prefs
lugus/lugus-repository/.settings/org.eclipse.m2e.core.prefs
lugus/lugus-repository/.settings/org.eclipse.wst.common.component
lugus/lugus-repository/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/lugus-repository/.settings/org.eclipse.wst.validation.prefs
lugus/lugus-services/.classpath
lugus/lugus-services/.project
lugus/lugus-services/.settings/org.eclipse.core.resources.prefs
lugus/lugus-services/.settings/org.eclipse.jdt.core.prefs
lugus/lugus-services/.settings/org.eclipse.m2e.core.prefs
lugus/lugus-services/.settings/org.eclipse.wst.common.component
lugus/lugus-services/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/lugus-services/.settings/org.eclipse.wst.validation.prefs
lugus/.classpath
lugus/.settings/org.eclipse.wst.common.component
lugus/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/.classpath
lugus/.settings/org.eclipse.wst.common.component
lugus/.settings/org.eclipse.wst.common.project.facet.core.xml
lugus/.classpath
lugus/.settings/org.eclipse.wst.common.component
lugus/.settings/org.eclipse.wst.common.project.facet.core.xml
