<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${pelicula.titulo}">Editar</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body class="container mt-4">
	<h2 th:text="${pelicula.titulo}">Título</h2>

	<ul class="list-group mb-4">
		<li class="list-group-item"><strong>Año:</strong> <span
			th:text="${pelicula.anyo}"></span></li>
		<li class="list-group-item"><strong>Formato:</strong> <span
			th:text="${pelicula.formato}"></span></li>
		<li class="list-group-item"><strong>Género:</strong> <span
			th:text="${pelicula.genero.displayName}"></span></li>
		<li class="list-group-item"><strong>Código interno:</strong> <span
			th:text="${pelicula.codigo}"></span></li>
	</ul>

	<hr />

	<div th:if="${pelicula.pack}">
		<h4>Películas del pack</h4>
		<div th:if="${pelicula.peliculasPack.empty}">
			<em>Este pack no contiene películas.</em>
		</div>
		<table th:unless="${pelicula.peliculasPack.empty}"
			class="table table-sm">
			<thead>
				<tr>
					<th>Título</th>
					<th>Año</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="h : ${pelicula.peliculasPack}">
					<td th:text="${h.titulo}"></td>
					<td th:text="${h.anyo}"></td>
				</tr>
			</tbody>
		</table>

	</div>
	<hr />


	<a th:href="@{/peliculas}" class="btn btn-link mt-3">← Volver al
		listado</a>
</body>
</html>