<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Listado de películas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet" integrity="sha384‑…" crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
	integrity="sha512‑…" crossorigin="anonymous"
	referrerpolicy="no-referrer" />
</head>
<body class="container mt-4">
	<h1>Películas</h1>

	<a class="btn btn-primary mb-3" th:href="@{/peliculas/nuevo}">Nueva
		película</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th th:replace="~{layout/sorting :: sorting('titulo','Título')}"></th>
				<th th:replace="~{layout/sorting :: sorting('anyo','Año')}"></th>
				<th th:replace="~{layout/sorting :: sorting('pack','Pack')}"></th>
				<th th:replace="~{layout/sorting :: sorting('formato','Formato')}"></th>
				<th th:replace="~{layout/sorting :: sorting('genero','Género')}"></th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p, iStat : ${pagePeliculas.content}"
				th:style="${iStat.odd}? 'font-weight: bold;'"
				th:alt-title="${iStat.even}? 'even' : 'odd'">
				<td th:text="${p.titulo}">Título</td>
				<td th:text="${p.anyo}"></td>
				<td th:class="${p.pack == true? 'fas fa-check-circle text-success' : 'far fa-times-circle text-danger'}"></td>
				<td th:text="${p.formato}"></td>
				<td th:text="${p.genero.displayName}"></td>
				<td><a th:href="@{'/peliculas/' + ${p.id}}"
					class="btn btn-sm btn-outline-secondary">Ver</a></td>
			</tr>
		</tbody>
	</table>


	<nav aria-label="Pagination" th:if="${pagePeliculas.totalPages > 0}">
		<ul class="pagination justify-content-center">
			<li class="page-item"
				th:classappend="${pagePeliculas.number == 1} ? 'disabled'"><a
				th:replace="~{layout/paging :: paging(0, '<<', 'Primera Página')}"></a>
			</li>
			<li class="page-item font-weight-bold"
				th:classappend="${pagePeliculas.number == 1} ? 'disabled'"><a
				th:replace="~{layout/paging :: paging(${pagePeliculas.number - 2}, 'Anterior', 'Página Anterior')}"></a>
			</li>
			<li class="page-item disabled"
				th:if="${pagePeliculas.number - 2 > 1}"><a class="page-link"
				href="#">...</a></li>
			<li class="page-item"
				th:classappend="${page == pagePeliculas.number} ? 'active'"
				th:each="page : ${#numbers.sequence(pagePeliculas.number > 2 ? pagePeliculas.number - 2 : 1, pagePeliculas.number + 2 < pagePeliculas.totalPages ? pagePeliculas.number + 2 : pagePeliculas.totalPages)}">
				<a
				th:replace="~{layout/paging :: paging(${page}-1, ${page}, 'Página ' + ${page})}"></a>
			</li>
			<li class="page-item disabled"
				th:if="${pagePeliculas.number + 2 < pagePeliculas.totalPages}"><a
				class="page-link" href="#">...</a></li>
			<li class="page-item font-weight-bold"
				th:classappend="${pagePeliculas.number == pagePeliculas.totalPages} ? 'disabled'"><a
				th:replace="~{layout/paging :: paging(${pagePeliculas.number},'Siguiente', 'Página Siguiente')}"></a>
			</li>
			<li class="page-item"
				th:classappend="${pagePeliculas.number == pagePeliculas.totalPages} ? 'disabled'"><a
				th:replace="~{layout/paging :: paging(${pagePeliculas.totalPages-1}, '>>', 'Página Anterior')}"></a>
			</li>
		</ul>
	</nav>
</body>
</html>