<!-- src/main/resources/templates/layout/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8" />
<title th:text="${title}">Lugus</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body th:fragment="header">
	<script src="js/actions.js" defer="defer"></script>

	<!-- ==== DROPDOWN FIXED ==== -->
	<div class="fixed-dropdown dropdown">
		<!-- Botón que abre el menú -->
		<button class="btn btn-user dropdown-toggle" type="button"
			id="userMenuBtn" data-bs-toggle="dropdown" aria-expanded="false"
			data-bs-popper="static" aria-label="Menú de usuario">☰</button>

		<!-- Menú -->
		<ul
			class="dropdown-menu dropdown-menu-end dropdown-menu-dark custom-dark"
			aria-labelledby="userMenuBtn">
			<li th:if="${admin}"><a class="btn btn-lumo mb-3 dropdown-item"
				th:if="${admin}" th:href="@{/peliculas/nuevo}">+</a></li>

			<li>
				<form id="logoutForm" action="logout" method="post">
					<button type="submit" class="btn btn-lumo dropdown-item">Cerrar
						sesión</button>
				</form>
			</li>
		</ul>
	</div>

</body>
</html>