<!-- src/main/resources/templates/layout/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8" />
<title th:text="${title}">Lugus</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body th:fragment="header">
	<script th:src="@{/js/actions.js}" defer="defer"></script>
	<div class="row">
		<div class="col-2">
			<a th:href="@{'/home'}" id="logo_link"> <img
				th:src="@{/image/logo.png}" class="lugus_logo" />
			</a>
		</div>
		<div class="col-8">
			<nav class="navbar navbar-expand-lg navbar-dark">

				<ul class="navbar-nav menu-lumo">
					<li class="nav-item dropdown"><span
						class="custom-dark nav-link dropdown-toggle" id="userMenuBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="Menú de usuario">Lugus</span>
						<div class="dropdown-divider"></div>
						<div class="dropdown-menu dropdown-menu-dark custom-dark"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/home}">Home</a>

							<form id="logoutForm" action="logout" method="post">
								<button type="submit" class="dropdown-item">Cerrar
									sesión</button>
							</form>
						</div></li>

					<li class="nav-item dropdown"><span
						class="custom-dark nav-link dropdown-toggle" id="peliculasBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="peliculas">Películas</span>
						<div class="dropdown-divider"></div>
						<div class="dropdown-menu dropdown-menu-dark custom-dark"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:if="${admin}"
								th:href="@{/peliculas/nuevo}">Nueva</a> <a class="dropdown-item"
								th:href="@{/peliculas?pagina=0&orden=tituloGest&direccion=ASC&resetFilter=true}">Buscar</a>
								<a class="dropdown-item"
								th:href="@{/group/list}">Grupos</a>
						</div></li>

					<li class="nav-item dropdown"><span
						class="custom-dark nav-link dropdown-toggle" id="seriesBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="Series">Series</span>
						<div class="dropdown-divider"></div>
						<div class="dropdown-menu dropdown-menu-dark custom-dark"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:if="${admin}"
								th:href="@{/series/nuevo}">Nueva</a> <a class="dropdown-item"
								th:href="@{/series?pagina=0&orden=tituloGest&direccion=ASC&resetFilter=true}">Buscar</a>

						</div></li>

					<li class="nav-item inactive"><span
						class="custom-dark nav-link disabled" id="musicBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="Menú de usuario">Música</span></li>

					<li class="nav-item inactive"><span
						class="custom-dark nav-link disabled" id="booksBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="Menú de usuario">Libros</span></li>

					<li class="nav-item dropdown" th:if="${admin}"><span
						class="custom-dark nav-link dropdown-toggle" id="managementBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="Gestión">Gestión</span>
						<div class="dropdown-divider"></div>
						<div class="dropdown-menu dropdown-menu-dark custom-dark"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:if="${admin}"
								th:href="@{/locations/list}">Ubicaciones</a> 
						</div>
						</li>

					<li class="nav-item inactive"><span
						class="custom-dark nav-link disabled" id="helpBtn"
						data-bs-toggle="dropdown" aria-expanded="false"
						data-bs-popper="static" aria-label="Menú de usuario">Ayuda</span></li>
				</ul>

			</nav>
		</div>
	</div>
</body>
</html>