<!-- src/main/resources/templates/layout/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8" />
<title th:text="${title}">Lugus</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body th:fragment="header">

	<div class="row">
		<div class="col-10">
			<h1>Lugus</h1>
		</div>
		<div class="col-1">
			<span th:text="${#ctx.session.usuarioConectado}"> </span>
		</div>
		<div class="col-1">
			<form id="logoutForm" action="/logout" method="post">
				<button type="submit" class="btn btn-danger" >Cerrar sesión</button>
			</form>
		</div>
	</div>
</body>
</html>