<!-- src/main/resources/templates/layout/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8" />
<title th:text="${title}">Lugus</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<a th:fragment="paging(pagina, label, tooltip)" class="page-link"
		th:href="@{'/peliculas?recuperar=true&pagina=' + *{pagina}   
                + '&orden=' + *{orden} + '&direccion=' + *{direccion}}"
		th:title="${tooltip}" rel="tooltip"> [[${label}]] </a>
</body>
</html>