<!-- src/main/resources/templates/layout/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8" />
<title th:text="${title}">Lugus</title>
</head>

<body>
	<th scope="col" th:fragment="sorting(field, label)"><a
		th:href="@{'/peliculas?pagina=' + ${pagePeliculas.number}  
                + '&orden=' + ${field} + '&direccion=' + ${direccionOrden == 'ASC'? 'DESC':'ASC'}}">
			[[${label}]] </a> <span th:if="${campoOrden == field}"
		th:class="${direccionOrden == 'ASC' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</th>
</body>
</html>