<!-- src/main/resources/templates/layout/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8" />
<title th:text="${title}">Lugus</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
	<th scope="col" th:fragment="sorting(field, label)"><a
		th:href="@{'/peliculas?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
                + 'pagina=' + ${pagePeliculas.number}  
                + '&orden=' + ${field} + '&direccion=' + ${direccionOrden == 'ASC'? 'DESC':'ASC'}}">
			[[${label}]] </a> <span th:if="${campoOrden == field}"
		th:class="${direccionOrden == 'ASC' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'}"></span>
	</th>
</body>
</html>