<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<title>Añadir Serie</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<link th:href="@{/css/lugus.css}" rel="stylesheet">
<link th:href="@{/css/botones.css}" rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script defer="defer" type="text/javascript" th:src="@{/js/newSerie.js}"></script>
</head>
<body class="container mt-4">
	<h2>Añadir Serie</h2>

	<form th:action="@{/series}" th:object="${serie}" id="formulario" method="post">

		<div class="row">
			<ul class="list-group mb-4 col-8">
				<li class="list-group-item row"><strong class="col-3">Título:</strong>
					<input class="form-control" th:field="*{titulo}"
					placeholder="Ej.: Matrix" />
					<div class="text-danger" th:if="${#fields.hasErrors('titulo')}"
						th:errors="*{titulo}">Error</div></li>

				<li class="list-group-item row"><strong class="col-3">Título
						para Gestión:</strong> <input class="form-control" th:field="*{tituloGest}"
					placeholder="Ej.: Matrix" />
					<div class="text-danger" th:if="${#fields.hasErrors('tituloGest')}"
						th:errors="*{tituloGest}">Error</div></li>

				<li class="list-group-item row"><strong class="col-3">Año
						Inicio:</strong> <input type="number" class="form-control"
					th:field="*{anyoInicio}" min="1888" />
					<div class="text-danger" th:if="${#fields.hasErrors('anyoInicio')}"
						th:errors="*{anyoInicio}">Error</div></li>

				<li class="list-group-item row"><strong class="col-3">Año
						Fin:</strong> <input type="number" class="form-control"
					th:field="*{anyoFin}" min="1888" />
					<div class="text-danger" th:if="${#fields.hasErrors('anyoFin')}"
						th:errors="*{anyoFin}">Error</div></li>

				<li class="list-group-item row"><strong class="col-3">Formato:</strong>
					<select class="form-select" th:field="*{formatoCodigo}">
						<option th:each="f : ${T(lugus.model.values.Formato).valoresOrdenados()}"
							th:value="${f.id}" th:text="${f}"></option>
				</select>
					<div class="text-danger"
						th:if="${#fields.hasErrors('formatoCodigo')}"
						th:errors="*{formatoCodigo}">Error</div></li>


				<li class="list-group-item row"><strong class="col-3">Género:</strong>
					<select class="form-select" th:field="*{generoCodigo}">
						<option th:each="g : ${T(lugus.model.values.Genero).valoresOrdenados()}"
							th:value="${g.codigo}" th:text="${g.displayName}"></option>
				</select>
					<div class="text-danger"
						th:if="${#fields.hasErrors('generoCodigo')}"
						th:errors="*{generoCodigo}">Error</div></li>

				<li class="list-group-item row"><strong class="col-3">Comprado:</strong>
					<input type="checkbox" th:field="*{comprado}"></li>

				<li class="list-group-item row"><strong class="col-3">Completa:</strong>
					<input type="checkbox" th:field="*{completa}"></li>
					
				<li class="list-group-item row"><strong class="col-3">Localización:</strong>
					<select class="form-select" th:field="*{localizacionCodigo}">
						<option value=""></option>
						<option th:each="l : ${localizaciones}" th:value="${l.codigo}"
							th:text="${l.descripcion}"></option>
				</select></li>
				<li class="list-group-item row"><strong class="col-3">Código
						interno:</strong> <input type="text" maxlength="4" readonly="readonly"
					disabled="disabled"></li>


				<li class="list-group-item row"><strong class="col-3">Notas:</strong>
					<textarea th:field="*{notas}" maxlength="400"></textarea></li>
			</ul>


		</div>
		<h4>Caratula</h4>
		<div class="row g-2">
			<div class="col-md-4">
				<input class="form-control" th:field="*{url}" placeholder="url" />
			</div>
			<div class="col-md-2">
				<select class="form-select" th:field="*{fuente}">
					<option value=""></option>
					<option th:each="f : ${fuentesList}" th:value="${f.id}"
						th:text="${f.descripcion}"></option>
				</select>
			</div>
		</div>

		<button type="submit" class="btn btn-success" id="guardar">Guardar</button>
		<a th:href="@{/series}" class="btn btn-link">Cancelar</a>
	</form>

	<div class="modal fade" id="confirmModal" tabindex="-1"
		aria-labelledby="confirmModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark text-white">
				<div class="modal-header bg-dark text-white">
					<h5 class="modal-title" id="confirmModalLabel">Confirmación
						requerida</h5>
					<button type="button" class="btn-close btn-close-white"
						data-bs-dismiss="modal" aria-label="Cerrar"></button>
				</div>
				<div class="modal-body">Ya existe una serie con el mismo
					titulo en el mismo año. ¿Desea continuar con el alta?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" id="cancelBtn">Cancelar</button>
					<button type="button" class="btn btn-success" id="acceptBtn">
						Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>